page {
    min-height: 100%;
    width: 100%;
    background: #fff;
}

.container {
    height: 100%;
    background: #fff;
}

.pay-result {
    background: #fff;
}

.pay-result .msg {
    text-align: center;
    margin: 20rpx auto 0rpx auto;
    color: #2bab25;
    font-size: 36rpx;
	margin-bottom: 30rpx;
}

.pay-result .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-result .btn {
    text-align: center;
    height: 80rpx;
    margin: 0 20rpx;
    width: 200rpx;
    line-height: 78rpx;
    border: 1px solid #868686;
    color: #000;
    border-radius: 5rpx;
}

.pay-result .error .msg {
    color: #b4282d;
    margin-bottom: 20rpx;
}

.pay-result .error .tips {
    color: #7f7f7f;
    margin-bottom: 70rpx;
}

.pay-result .error .tips .p {
    font-size: 24rpx;
    line-height: 42rpx;
    text-align: center;
}

.pay-result .error .tips .p {
    line-height: 42rpx;
    text-align: center;
}
.result-v {
	text-align: center;
	margin: 100rpx auto 0 auto;
}
.result-img {
	width: 100rpx;
	height: 100rpx;
}
.shippingGuide {
	margin-top: 30rpx;
	width: 100%;
	height: auto;
}
.shippingGuide image{
	width: 100%;
}
.shippingGuideLeft {
	width: 60%;
	float: left;
}
.shippingGuideLeft image {
	width: 100%;
}
.shippingGuideRight {
	width: 40%;
	float: left;
}
.shippingGuideRight image {
	width: 100%;
}

/* .wxss */
.pup-up-coupon{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.pup-up-coupon image{ /* 设不设都行 */	
  width: 450rpx;
  height: 600rpx;
}
.pup-up-coupon .close-icon{
  position: absolute;
  top: 75%;
}
