.address-form {
  padding: 20rpx;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20rpx;
}

.label {
  width: 200rpx;
  font-size: 32rpx;
  color: #333;
}

.input-wrapper {
  flex-grow: 1;
  margin-left: 20rpx;
}

.form-submit {
  display: flex;
  justify-content: center;
  margin-top: 40rpx;
}

button {
  width: 90%;
  height: 90rpx;
  color: #fff;
  background-color: #007aff;
  border-radius: 45rpx;
  font-size: 34rpx;
}